<div class="review" data-review-id="<%= row.reviewId %>">

    <!-- review content -->
    <div class="review-header">
        <div class="review-header-left">
            <div>
                <div class="review-header-username">
                    <%= `${row.firstName} ${row.lastName}` %>
                </div>
                <div class="review-header-date">
                    <%= new Date(row.createdAt).toDateString() %>
                </div>
            </div>
        </div>
        <div class="review-header-right">
            <span class="review-action">report</span>
        </div>
    </div>
    <div class="review-title">
        <%= row.title %>
    </div>
    <div class="review-rating">
        <% for (let i=0; i < 5; i++) { %>
            <span class="star material-icons">
                <%= i < row.rating ? 'star' : 'star_border' %>
            </span>
            <% } %>
    </div>
    <div class="review-body">
        <% if (row.imageurl) { %>
            <img src="<%= row.imageurl %>" class="review-image" />
            <% } %>
                    <div class="review-text">
                        <%= row.body %>
                    </div>
    </div>


    <div class="replies">
        <% replies.filter(r=> r.reviewId === row.reviewId).forEach(reply => { %>
            <div class="reply">
                <div class="review-header">
                    <div class="review-header-left">
                        <div>
                            <div class="review-header-username">
                                <%= `${row.firstName} ${row.lastName}` %>
                            </div>
                            <div class="review-header-date">
                                <%= new Date(reply.createdAt).toDateString() %>
                            </div>
                        </div>
                    </div>
                    <div class="review-header-right">
                        <span class="review-action">report</span>
                    </div>
                </div>
                <div class="review-body">
                    <div class="reply-text">
                        <%= reply.body %>
                    </div>
                </div>
            </div>
            <% }) %>
                <button class="reply-button">Reply</button>
                <div class="reply-form-container" style="display: none;">
                    <textarea id="reply-textarea" placeholder="Write your reply..."></textarea>
                    <button class="submit-reply">Submit Reply</button>
                </div>
    </div>
</div>