<%- include('partials/header') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/googlemaps/js-info-bubble@master/src/infobubble.css">
<section id="location-bar">
    <span class="material-icons">location_on</span>
    <span>Current Location:&nbsp;</span>
    <span id="location-bar-location"> <%= city %></span>
</section>

<%- include('partials/mapPop') %>

<div class="top-pick-title">Top Pick Near You!</div>

<section id="hero-card-container" class="card-container">
</section>

<section id="filters">
    <div id="filter-buttons">
        <button class="filter-button active" name="all">All</button>
        <button class="filter-button" name="fridge">Fridges</button>
        <button class="filter-button" name="pantry">Pantries</button>
    </div>
    <div id="map-toggle-container">
        <div class="material-icons map-icon">map</div>
        <label class="toggle">
            <input type="checkbox" id="toggleMap" />
            <span class="slider"></span>
        </label>
    </div>
</section>
<section id="main-card-container" class="card-container">
</section>
<div class="spacer"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&libraries=marker"></script>
<script type="module" src="../js/browse.js"></script>
<script src="https://cdn.jsdelivr.net/gh/googlemaps/js-info-bubble@master/src/infobubble-compiled.js"></script>
<%- include('partials/footer')%>